.App {
  font-family: sans-serif;
  /* text-align: center; */
}

div > pre {
  counter-reset: line;
}

div > pre > code {
  counter-increment: line;
  text-align: left;
  background-color: black;
  color: yellow;
  font-size: 20px;
}

div > pre > code:before {
  content: counter(line);
  user-select: none;
  -webkit-user-select: none;
}

div > code {
  text-align: left;
  background-color: black;
  color: yellow;
  font-size: 20px;
}

div > code > span {
  display: block;
  background-color: black;
}

div > button {
  max-width: 70px;
}

.sameLine {
  display: flex;
  justify-content: flex-start;
}

.tcButton {
  margin: 0 5px;
}

.qColBtns {
  max-width: 120px;
  margin: 5px 0px;
}

.sameLine input {
  max-width: 70px;
  margin: 0 10px;
}

.sameCol input {
  max-width: 70px;
  max-height: 15px;
  margin: 0 10px;
}

.widthQBox {
  max-width: 300px;
  padding-right: 20px;
}

.widthTipLine {
  max-width: 150px;
}

.sameCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.goodjob {
  background-color: chartreuse;
}
